{% extends 'base.html' %}
{% block title %}
About Us|
{% endblock title %}
{% block body %}


<div class="carousel-inner my-0 px-0">
    <div class="carousel-item active">
      <img src="https://static-cse.canva.com/blob/141399/unique-inspiring-about-page.2c3368d5.jpg" class="d-block w-100 " alt="... ">
      <div class="carousel-caption d-none d-md-block">
        <h5> </h5>
        <p>About us : 
We have been playing the role of bridge between the two poles. In these tough times , trying out our  best possible way to help and reach the needy and the poor ones.</p>
      </div>
      contacts
      https://www.linkedin.com/in/priyanshu-gaur-2a3955121/
      https://www.linkedin.com/in/kunal-chahal-5056341ba/
    </div>
{% endblock body %}
