{% extends 'base.html' %}
{% block title %}How it works
{% endblock title %}
{% block body %}

<div class="carousel-inner my-0 px-0">
    <div class="carousel-item active">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.8bIycI4ib4SbOs__dCalOwHaEK%26pid%3DApi&f=1" class="d-block w-100 " alt="... ">
      <div class="carousel-caption d-none d-md-block">
        <h5> The covid-19 has affected the global economy harshly and the world is struck by an economic tragedy. Poverty graphs took an inclination with a never before intensity. Unemployment has been a major concern now for the world to face. In this pandemic, it is the small shopkeepers , vegetable seller and poor people who has been affected the most.
So it is the duty of the wealthy people to come forward and help them . But due to the infectious noval virus it is dangerous to physically hand over the goodies to the people . So , we thought of an idea of being the bridge between the needy and the donors.
-For the solution we created a website in which the donors get a window to peek through the needy and donate whatever they can like electronics stuffs , furniture and books. 
-They can login in the site giving  their info  and the goodies they want to donate. We will manually get to the donor and collect the items from them .
-The items will be sanitized and will be provided to the needy ones. This website prevents the chances of virus inflation and also will be in the convenience of both donor and the needy .</h5>
        <p></p>
      </div>
    </div>
{% endblock body %}
